<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-5">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">Post title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-desc">Description:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

<h3>Recent Posts:</h3>
<section>
<div>
  <div class="col-12">
      <table style="width:100%" border="1px #black">
        <th>Post Title</th>
        <th>Date Created</th>
<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
        <tr>
        <td><a href="/posts/{{post.id}}">{{post.title}}</a></td>
        <td>{{format_date post.date_created}}</td>
      </tr>
  </div>
</div>
{{/each}}

<script src="/js/dashboard.js"></script>
