<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{author_username}} on {{format_date date_created}}</p>
  <p>{{content}}</p>
</div>
<section>
  
  <div class="comments">
  <form>
  <input type="text">
  </form> 
  </div>
  <button>Submit</button> 
</section>
