header, .post:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.header {
  background-color: #d4c5e1;
  padding: 20px;
}

.header h1 {
background-color: #7d3483;
padding: 10px;
border-radius: 10px;
box-shadow: #5d2461 7px 7px ;
}

nav a {
padding: 50px;
font-size: 20px;
}

.header a {
  color: black;
}

body {
  background-color: #f1eef4;
}

tr {
  /* background-color: #efbaf3; */
  padding: 10px;
  max-width: auto;
  font-size: 20px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

form {
  padding: 30px;
}

input {
padding: 10px;
background-color: #faddfc;

}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}